.searchResult::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.searchResult {
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-radius: 5px;
}

.FoundIn {
    padding: 10px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #282c34;
}

.resultHit {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}

.resultHit::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 1px;
    background-color: #999;
    left: 37%;
}

.resultHit:hover {
    background-color: #ddd;
}
.resultHit:hover:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 3px;
    background-color: #ef6423;
    right: 0;
}

.resultLink {
    padding-right: 10px;
}

.resultLink:hover {
    text-decoration: underline;
}

.searchInput {
    padding: 5px 10px;
    padding-left: 30px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    color: #fff;
}

.active {
    background-color: #ddd;
}

.active::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 3px;
    background-color: #ef6423;
    right: 0;
}

.searchInput:focus {
    background-color: #282c34;
}

.searchInput:focus {
    outline: none;
}

.searchForm {
    position: relative;
}

.magGlass {
    position: absolute;
    left: 10px;
    top: 55%;
    transform: translateY(-50%);
}